#about{
    width: 100%;
    height: 500;
    /* border: 1px solid yellow; */
    border: 1px solid rgba(0, 0, 0);;
    /* background-color: rgb(216, 231, 226); */
    background-image: linear-gradient(rgb(0, 0, 0), rgb(10, 0, 0)),url(bgImage.jpg); 
    background-size: cover;
    background-position: center;
    transition: all ease 2s;
}


.about-section{

    /* border: 1px solid red; */
    height: 400px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#profile-image-section{
    height: auto;
    width: 27%;
    /* background-color:white */
}

#profile-image-section>img{
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 350px;
}
#about-my-self{
    width: 60%;
    height: 200px;
    background-color:white;
    /* text-align: center; */
    margin-left: 40px;
    padding: 20px;
    box-shadow: rgba(11, 196, 209, 0.4) -5px 5px, rgba(46, 201, 240, 0.3) -10px 10px, rgba(42, 143, 173, 0.2) -15px 15px, rgba(57, 173, 219, 0.1) -20px 20px, rgba(38, 129, 172, 0.05) -25px 25px;
    
}
#about-my-self>div>h2{
margin-bottom: 20px;
font-size: 30px;
text-decoration: underline;
color: rgba(3, 3, 155, 0.671);

}

#about-my-self>div>p{
   line-height: 25px;
   letter-spacing: 1px;
   font-size: 18px;
   font-style: italic;
  font-family: sans-serif;
  
  color: rgba(0, 0, 0, 0.486);
 

    
    }




    @media all and (min-width: 450px) and (max-width: 967px) {

        #about{
            height: 900;
            /* border: 1px solid yellow; */
            /* border: 1px solid rgb(216, 231, 226);; */
            background-color: rgb(216, 231, 226);
            /* border: 1px solid red; */
        }
        .about-section{

            /* border: 1px solid red; */
            height: 400px;
            width: 90%;
            margin: auto;
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 30px;
            padding: 20px;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            align-items: center;
            justify-content: center;
            text-align: center;
        
        }

       


        #about-my-self{
            width: 90%;
            height: 200px;
            margin: auto;
          padding: 5px;
          margin-top: -70px;
            
           
        }

        #profile-image-section{
            height: auto;
            width: 30%;
            margin: auto;
            margin-left: 350px;
            margin-bottom: -10px;
            z-index: 1;
            /* background-color:white */
        }

        #profile-image-section>img{
            width: 100%;
            border-radius: 10px;
            height: 150px;
            /* margin-left: 130px;
            margin-bottom: -40px; */
        }


        #about-my-self>div>p{
            line-height: 20px;
            letter-spacing: 1px;
            font-size: 16px;
            font-style: italic;
           font-family: sans-serif;
           
           color: rgba(0, 0, 0, 0.486);
          
         
             
             }
    }

    @media all and (min-width: 756px) and (max-width: 867px) {


        #profile-image-section>img{
            width: 100%;
            border-radius: 10px;
            height: 220px;
           
            /* margin-bottom: -40px;  */
        }


        .about-section{

            /* border: 1px solid red; */
            height: 600px;
            text-align: start;
          

    }
    #profile-image-section{
        height: auto;
        width: 30%;
        margin: auto;
        margin-left: 480px;
        margin-bottom: -50px;
        /* margin-right: 20px; */
        z-index: 1;
        /* background-color:white */
    }

    #about-my-self{
        width: 90%;
        height: 250px;
        margin: auto;
      padding: 5px;
      margin-top: -70px;
        
       
    }

    
    #about-my-self>div>p{
        line-height: 20px;
        letter-spacing: 1px;
        font-size: 18px;
        margin-top: 40px;
       
      
     
         
         }
         #about-my-self>div>h2{
            
            margin-top: 40px;
            margin-right: 30px;
           
          
         
             
             }

    }

    @media all and (min-width: 600px) and (max-width: 756px) {

        #profile-image-section{
            height: auto;
            width: 30%;
            margin: auto;
            margin-left: 440px;
            margin-bottom: -15px;
            /* margin-right: 20px; */
            z-index: 1;
            /* background-color:white */
        }

    }


    @media all and (min-width: 300px) and (max-width: 450px) {


        #profile-image-section>img{
            width: 100%;
            border-radius: 10px;
            height: 140px;
             /* margin-right: 20px; */
             /* margin-top: -500px; */
            
        }


        .about-section{

            /* border: 1px solid red; */
            height: auto;
            text-align: start;

    }
    #profile-image-section{
        /* height: auto; */
        width: 100%;
        margin: auto;
         margin-top: 50px; 
        
        margin-left: 175px;
       
        z-index: 1;
      
        /* background-color:white */
        /* border: 1px solid green; */
    }

    #about-my-self{
        width: 200%;
        height: 350px;
        margin: auto;
      padding: 5px;
      margin-top: 100px;
      margin-right: 70px;
      margin-left: -340px;
      /* border: 1px solid green; */
        
       
    }

    
    #about-my-self>div>p{
        line-height: 20px;
        letter-spacing: 1px;
        font-size: 18px;
        margin-top: 40px;
       
      
     
         
         }
         #about-my-self>div>h2{
            
            margin-top: 40px;
            margin-right: 30px;
           
          
         
             
             }

    }

