


  #contact {
    padding: 80px 0;
    background-color: #f8f8f8;
  }
  
  #contact_title {
    text-align: center;
    margin-bottom: 40px;
  }
  
  #contact_title h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
  }
  

  #contact-form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #ccc;
  }
  
  .form-group textarea {
    height: 150px;
  }
  
  .form-group button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #555;
  }
  
  /* Style for the contact info */
  .contact-info {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .contact-info p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contact-info li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .contact-info a {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    color: #333;
    border-radius: 50%;
  }
  
  .contact-info a:hover {
    background-color: #555;
    color: #fff;
  }



  /* Media query for screens smaller than 768px */
@media (max-width: 767px) {
  #contact-form, .contact-info {
    max-width: 100%;
    padding: 0 20px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
  }
  
  .form-group button {
    width: 100%;
  }
  
  .contact-info li {
    display: inline-block;
    margin-bottom: 10px;
  }
}




  /* .............................................. */


 
  /* Media queries for different screen sizes */
  @media (max-width: 576px) {
    #contact_title h2 {
      font-size: 28px;
    }
    
    #contact-form, .contact-info {
      max-width: 100%;
    }
    
    .form-group input,
    .form-group textarea {
      font-size: 14px;
    }
    
    .form-group button {
      font-size: 14px;
    }
    
    .contact-info p {
      font-size: 16px;
    }
    
    .contact-info a {
      padding: 8px;
      font-size: 14px;
    }
  }
  
  @media (min-width: 577px) and (max-width: 767px) {
    #contact_title h2 {
      font-size: 32px;
    }
    
    #contact-form, .contact-info {
      max-width: 100%;
    }
    
    .form-group input,
    .form-group textarea {
      font-size: 16px;
    }
    
    .form-group button {
      font-size: 16px;
    }
    
    .contact-info p {
      font-size: 18px;
    }
  }
  
  @media (min-width: 768px) {
    #contact-form, .contact-info {
      max-width: 600px;
    }
  }
  