/* #stats{

    border: 1px solid rgb(216, 231, 226); 
    margin-bottom: 40px;
    background-color: rgb(216, 231, 226);
}

#Github_title{
    width: 60%;
   
   
    margin: auto;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 30px;
  
}

#githubstatsflex{

   
    padding: 30px;
    border-radius: 8px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
    align-items: center;
    text-align: center;
    justify-content: center
    
}

#github-top-langs{
    width: 40%;
    
    
}



@media all and (min-width: 300px) and (max-width: 450px) {

.title{
    font-size: 30px;
}
    #github-top-langs{
        width: 70%;
       
        margin-bottom: -10px;
    }

    #github-stats-card{
        width: 90%;
        
    }

    #github-streak-stats{
        width: 100%;
    }

} */



 /* Style for Github Streak section */

 
.github-streak {
    margin: 50px 0;
    text-align: center;
  }
  
  .git-img {
    max-width: 100%;
    height: auto;
  }
  
  
  .github-top {
    margin: 50px 0;
    text-align: center;
  }
  
 
  .github-stats {
    margin: 50px 0;
    text-align: center;
  }
  
  @media only screen and (max-width: 768px) {
   
    .github-streak, .github-top, .github-stats {
      margin: 30px 0;
    }
  }
  