#projects_section{

    width: 100%;
    /* height: 1100px; */
    height: auto;
    /* border: 1px solid rgb(216, 231, 226);; */
    /* border: 1px solid red; */
    margin: auto;
    background-color: rgb(216, 231, 226);
    padding: 15px;
  
}

#project_section_title{
    width: 70%;
    margin: auto;
    /* border: 1px solid green; */
    text-align: center;
    margin-top: 40px;
}

#projects {
    width: 80%;
    /* height: 900px; */
    margin-bottom: 100px;
    /* border: 1px solid blue; */
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.project-card{
    /* border: 1px solid blanchedalmond; */
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    /* padding: 10px; */
    /* height: auto; */
    
}
.project-card>img{
    width: 95%;
    margin-top: 10px;
}
.project-card>p{
margin-top: 10px;
color: rgb(5, 5, 7);
font-family:sans-serif;
}

.project-card>h2{
margin-top: 10px;
}
.project-card>a>button{
margin-top: 20px;
margin-bottom: 20px;
padding-left: 25px;
padding-right: 25px;
padding-top: 10px;
padding-bottom: 10px;
background-color: rgb(27, 151, 189);
color: aliceblue;
font-size: 20px;
border: none;
border-radius: 5px;
color: black;
margin-left: 7px;
margin-right: 7px;
}
.project-card>a>button:hover{
    cursor: pointer;
    background-color: rgb(5, 41, 41);
    color: azure;
}



@media all and (min-width: 450px) and (max-width: 967px) {


    #projects {
        width: 70%;
        /* height: 900px; */
        margin-bottom: 100px;
        /* border: 1px solid blue; */
        margin: auto;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }


    .project-card>a>button{
        margin-top: 15px;
        /* margin-bottom: 5px; */
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: rgb(27, 151, 189);
        color: aliceblue;
        font-size: 17px;
        border: none;
        border-radius: 5px;
        color: black;
        margin-left: 7px;
        margin-right: 7px;
        }


        .project-card>p{
            margin-top: 10px;
            color: rgb(5, 5, 7);
            font-family:sans-serif;
            font-size: 14px;
        }

        .project-card{
           
             padding: 10px; 
            
        }
            }
        






            @media all and (min-width: 40px) and (max-width: 450px) {


                #projects {
                    width: 80%;
                    /* height: 900px; */
                    /* border: 1px solid blue; */
                    margin: auto;
                    margin-top: 30px;
                    display: grid;
                    grid-template-columns: repeat(1,1fr);
                    gap: 30px;
                }



                .project-card>a>button{
                    margin-top: 15px;
                    /* margin-bottom: 5px; */
                    padding-left: 25px;
                    padding-right: 25px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    background-color: rgb(27, 151, 189);
                    color: aliceblue;
                    font-size: 17px;
                    border: none;
                    border-radius: 5px;
                    color: black;
                    margin-left: 7px;
                    margin-right: 7px;
                    }
            }