.tools{
    width: 100%;
    height: 300px;
    /* border: 1px solid yellow; */
    border: 1px solid rgb(216, 231, 226);;
    background-color: rgb(216, 231, 226);
}

.tools-title{

    /* border: 1px solid red; */
    width: 50%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    color:black

}

.tool-logo-container{

    /* border: 1px solid red; */
    height: 150px;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 10px;

}

.tool-logo-container>div{
    border: 1px solid blue;
}